#storeInfromation {
    .row {
        margin-top: 50px;
        @include breakpoint (sm1) {
            // margin-top: 30px;
        }
        &:nth-child(even) {
            flex-direction: row-reverse;
        }
        .map {
            @include breakpoint (sm1) {
                margin: 50px 0 0 0;
            }
        }
    }
}

.contact-reservation {
    // margin-top: 80px;
}